.wrapper {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.form {
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  height: 100vh;
  max-width: rem(600px);
  padding-top: rem(80px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}