.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;

  background-size: cover;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.form {
  min-width: 300px;
  width: 30%;
  @media (max-width: $mantine-breakpoint-sm) {
    height: 100%;
    width: 100%;
  }
}
